
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: initial;
    font-weight: 400;
    text-align: initial;
}

/* personalizaçõ root */

:root {
    --cor-primeira: rgb(255, 163, 253); 
    --cor-segunda:rgb(134, 93, 255);
    --cor-terceira: rgb(238, 226, 53);
    --cor-quarta: rgb(255, 255, 255);
    --cor-quinta: rgb(140, 21, 151);
    --fonte-primaria:'Times New Roman', serif;
    --fonte-secundaria: Arial, Helvetica, sans-serif;
}

/* personalização body */

body {
    margin: 20px 50px;
    text-align: justify;
    line-height: 2;
    font-weight: bold;
    font-size: 22pt;
    font-family: var(--fonte-secundaria);
    font-style: italic;
    background-color: var(--cor-quinta);
}

section {
    display: flex;
    flex-direction: column;
    align-items: center; 
}

header {
    display: flex;
    flex-direction: column;
}

header h1{
    text-align: justify;
    line-height: 2;
    font-weight: bold;
    font-size: 48pt;
    align-self: center;
    color: var(--cor-terceira);
}

p {
    line-height: 1.2;
    font-size: 20pt;
    padding: 30px;
    font-weight: bold;
    color: var(--cor-quarta);
}

h1 {
    font-weight: bold;
    font-size: 35pt;
    font-family: var(--fonte-secundaria);
    font-style: italic;
    padding: 30px;
    color: var(--cor-terceira);
    text-align: center;
}

h2 {
    font-weight: bold;
    font-size: 25pt;
    font-family: var(--fonte-secundaria);
    font-style: italic;
    padding: 50px;
    color: var(--cor-quarta);
    text-align: center;
}

/* Tabela */

tr {
    background-color: var(--cor-primeira);
    justify-content: center;
    margin: 50px auto;
    border-radius: 20px;
    border: 2px solid;
}

.propriedade-titulo {
    border: 2px solid var(--cor-quarta);
    height: 50px;
    width: 200px;
    font-size: 20pt;
    padding: 10px;
    font-weight: bold;
    text-align: center;
    border-radius: 20px 0 0;
    color: var(--cor-segunda);
}

.descricao-titulo {
    border: 2px solid var(--cor-quarta);
    height: 50px;
    width: 100px;
    font-size: 20pt;
    font-weight: bold;
    text-align: center;
    border-radius: 0 20px 0 0;
    color: var(--cor-segunda);
}


.propriedade {
    text-align: center;
    border: 2px solid var(--cor-quarta);
    height: 50px;
    width: 100px;
    font-size: 15pt;
    font-weight: bold;
    border-radius: 0;
    color: var(--cor-segunda);
}

.propriedade-align-content {
    text-align: center;
    border: 2px solid var(--cor-quarta);
    height: 50px;
    width: 100px;
    font-size: 15pt;
    font-weight: bold;
    border-radius: 0 0 0 20px;
    color: var(--cor-segunda);
}

.descricao {
    text-align: center;
    border: 2px solid var(--cor-quarta);
    height: 50px;
    width: 1000px;
    font-size: 15pt;
    font-weight: bold;
    border-radius: 0;
    color: var(--cor-quinta);
}

.descricao-align-content {
    text-align: center;
    border: 2px solid var(--cor-quarta);
    height: 50px;
    width: 1000px;
    font-size: 15pt;
    font-weight: bold;
    border-radius: 0 0 20px 0;
    color: var(--cor-quinta);
}

/* Flexbox */

.container {
    display: flex;
    background-color: var(--cor-primeira);
    padding: 30px;
    height: 500px;
    gap: 15px;
    border-radius: 20px;
    width: 900px;
}

.contido {
    width: 80px;
    height: 80px;
    background-color: var(--cor-segunda);
    border-radius: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--cor-quarta);
    font-size: 20pt;
    font-family: var(--fonte-secundaria);
    font-weight: bold;
}

.contido-stretch {
    background-color: var(--cor-segunda);
    width: 300px;
    border-radius: 30px;
    color: var(--cor-quarta);
    font-size: 40pt;
    font-family: var(--fonte-secundaria);
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;

}

.contido:nth-child(odd) {
    height: 130px;
}

/* justify-content */

.justify-content-center {
    justify-content: center;
}

.justify-content-flex-start {
    justify-content: flex-start;
}

.justify-content-flex-end {
    justify-content: flex-end;
}

.justify-content-space-around {
    justify-content: space-around;
}

.justify-content-space-between {
    justify-content: space-between;
}

.justify-content-space-evenly {
    justify-content: space-evenly;
}

/* flex-direction */

.flex-direction-column {
    flex-direction: column;
}

.flex-direction-column-reverse {
    flex-direction: column-reverse;
}

.flex-direction-row {
    flex-direction: row;
}

.flex-direction-row-reverse {
    flex-direction: row-reverse;
}

/* align-items */

.item-align {
    text-align: center;
    display: flex;
    padding: 5px;
    background-color: var(--cor-segunda);
    border-radius: 30px;
    color: var(--cor-quarta);
    font-size: 15pt;
    font-family: var(--fonte-secundaria);
    font-weight: bold;
}

.item-align:nth-child(odd) {
    height: 130px;
}

.item-align:first-child {
    padding-top: 40px;
}

.align-items-center {
    align-items: center;
}

.align-items-flex-start {
    align-items: flex-start;
}

.align-items-flex-end {
    align-items: flex-end;
}

.align-items-stretch {
    align-items: stretch;
}

.align-items-baseline {
    align-items: baseline;
}

/* flex-wrap */

.flex-wrap-nowrap {
    flex-wrap: nowrap;
}

.flex-wrap-wrap {
    flex-wrap: wrap;
}

.flex-wrap-wrap-reverse {
    flex-wrap: wrap-reverse;
}

/* flex flow */

.flex-flow-row-reverse-wrap {
    flex-flow: row-reverse wrap;
}

.flex-flow-row-reverse-wrap-reverse {
    flex-flow: row-reverse wrap-reverse;
}

/* align content */

.container-align-content {
    display: flex;
    background-color: var(--cor-primeira);
    padding: 30px;
    height: 500px;
    gap: 15px;
    border-radius: 20px;
    width: 900px;
}

.item-align-content {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    background-color: var(--cor-segunda);
    border-radius: 30px;
    color: var(--cor-quarta);
    font-size: 20pt;
    font-family: var(--fonte-secundaria);
    font-weight: bold;
}

.align-content-stretch {
    align-content: stretch;
    flex-wrap: wrap;
    height: 20rem;
}

.align-content-center {
    align-content: center;
    flex-wrap: wrap;
    height: 20rem;
}

.align-content-flex-start {
    align-content: flex-start;
    flex-wrap: wrap;
    height: 20rem;
}

.align-content-flex-end {
    align-content: flex-end;
    flex-wrap: wrap;
    height: 20rem;
}

.align-content-space-between {
    align-content: space-between;
    flex-wrap: wrap;
    height: 20rem;
}

.align-content-space-around {
    align-content: space-around;
    flex-wrap: wrap;
    height: 20rem;
}

.align-content-space-evenly {
    align-content: space-evenly;
    flex-wrap: wrap;
    height: 20rem;
}

/* personalização footer */

footer {
    display: flex;
    flex-direction: row-reverse;
    justify-content:space-evenly;
}

figcaption {
    color: var(--cor-quarta);
}

.botao-do-topo {
    font-size: 25px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    font-style: italic;
    padding: 25px 15px;
    color: var(--cor-quarta);
}   