
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: initial;
    font-weight: 400;
    text-align: initial;
}

:root {
    --cor-primeira: 
    --cor-segunda: 
    --cor-terceira:
    --cor-quarta:
    --cor-quinta:
    --fonte-primaria:'Times New Roman', serif;
    --fonte-secundaria: Arial, Helvetica, sans-serif;
}
body {
    margin: 20px 50px;
    text-align: justify;
    line-height: 2;
    font-weight: bold;
    font-size: 22pt;
    font-family: var(--fonte-secundaria);
    font-style: italic;
}

header {
    display: flex;
    flex-direction: column;
}

header h1{
    text-align: justify;
    line-height: 2;
    font-weight: bold;
    font-size: 48pt;
    align-self: center;
}

p {
    color: 
    line-height: 1.2;
}

.container {
    background-color: antiquewhite;
    border: 1px solid #000;
    display: flex;
}

.contido {
    width: 100px;
    height: 100px;
    background-color: aqua;
    border: 1px solid #000;
}
    
.propriedade-titulo {
    border: 1px solid;
    height: 50px;
    width: 100px;
    font-size: 20pt;
    font-weight: bold;
}

.descricao-titulo {
    border: 1px solid;
    height: 50px;
    width: 100px;
    font-size: 20pt;
    font-weight: bold;
    text-align: center;
}


.propriedade {
    text-align: center;
    border: 1px solid;
    height: 50px;
    width: 100px;
    font-size: 15pt;
    font-weight: bold;
}

.descricao {
    text-align: center;
    border: 1px solid;
    height: 50px;
    width: 800px;
    font-size: 15pt;
    font-weight: bold;
}


